body{
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background: #0D1821;
}
.navMenu {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #FFDCB6;
  }

  .userMenu {
    color: white;
    position: absolute;
    right: 0;
    margin: 20px;
  }
  
  .button{
    width: 100%;
    height: 20px;
    margin: 5px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #344966;
    font-size: .8em;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  .button:hover{
    background: #40597D;
  }

  .container{
    max-width: 1000px;
    display: block;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 630px;
    text-align: center;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 5px 20px 50px #000000;
  
  }

  table {
    border-collapse: collapse;
  }
  table td {
    padding: 15px;
  }
  table thead td {
    background-color: #344966;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    border: 1.5px solid #0D1821;
    padding-left: 50px;
    padding-right: 50px;
  }
  table tbody td {
    color: #000000;
    border: 1.5px solid #0D1821;
  }
  table tbody tr {
    background-color: #f9fafb;
  }
  table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
