<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/css/home.css">
  <link rel="stylesheet" type="text/css" href="/static/css/cart.css">
  <script src = "/static/javascript/home.js"></script>
</head>

<body id="body" onload="loadHome(), cartValue()">
    <nav class="navMenu" id="navMenu">
      <a href="/index.html" style="color: #FF7700">Home</a>
    </nav>
    <div class="userMenu" id="userMenu">
      <label id="User"></label>
      
    </div>

    <div class="HomeImage" style="background-image:  url('/static/images/sale.gif');">
  
    </div>

    <div id ="CartModal" class="modal">
    </div>

      

</body>
</html>